[submodule "xmarts/Laundry_management"]
	path = xmarts/Laundry_management
	url = git@github.com:xmarts/Laundry_management.git
	branch = master
[submodule "viernes/xmarts_pos_invoice"]
	path = viernes/xmarts_pos_invoice
	url = git@github.com:viernes/xmarts_pos_invoice.git
	branch = v12
[submodule "log_check"]
	path = log_check
	url = git@github.com:William954/log_check.git
[submodule "ninja_dashboard"]
	path = ninja_dashboard
	url = git@github.com:viernes/ninja_dashboard.git
[submodule "pos_sales_comission"]
	path = pos_sales_comission
	url = git@github.com:viernes/pos_sales_comission.git
[submodule "xmarts_pos_contador"]
	path = xmarts_pos_contador
	url = https://github.com/xmarts/xmarts_pos_contador.git
[submodule "pos_retail"]
	path = pos_retail
	url = git@github.com:viernes/pos_retail.git
[submodule "xmarts_pos_formatos"]
	path = xmarts_pos_formatos
	url = https://github.com/xmarts/xmarts_pos_formatos.git
[submodule "multi_brannch"]
	path = multi_brannch
	url = git@github.com:viernes/multi_brannch.git
[submodule "poliza_report"]
	path = poliza_report
	url = git@gitlab.com:xmarts/poliza_report.git
[submodule "vendor_bills"]
	path = vendor_bills
	url = https://github.com/William954/vendor_bills
