[submodule "xmarts/Laundry_management"]
	path = xmarts/Laundry_management
	url = git@github.com:xmarts/Laundry_management.git
	branch = master
[submodule "viernes/xmarts_pos_invoice"]
	path = viernes/xmarts_pos_invoice
	url = git@github.com:viernes/xmarts_pos_invoice.git
	branch = v12
[submodule "log_check"]
	path = log_check
	url = git@github.com:William954/log_check.git
[submodule "pos_retail"]
	path = pos_retail
	url = git@github.com:viernes/pos_retail.git
